@import './../../styles/color.scss';

.project-wrapper {
    justify-content: space-between;
    flex-wrap: wrap;
}

.project {
    display: flex;
    flex-basis: 28%;
    flex-direction: column;
    align-items: center;
    padding: 35px 20px 15px;
    position: relative;
    background-color: $primary-hover;
    border-radius: 6px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 20px;
    
    transition: all 0.5s ease;
    i {
        color: $yellow;
        font-size: 36px;
    }

    h3 {
        font-size: 24px;
        margin-bottom: 5px;
    }

    span {
        color: $secondary-color;
        flex-grow: 1;
    }
    .action-wrapper {
        display: flex;
        margin-top: 15px;

        button {
            padding: 10px 15px;
            background-color: $primary-hover;
            color: $secondary-color;
            width: 120px;
            border: 1px solid $yellow;
            border-radius: 4px;
            margin-left: 15px;
            cursor: pointer;
            transition: all 0.5s ease;
            &:hover {
                background-color: $yellow;
                span , i {
                    color: $primary-hover;
                }
            }

            i{
                margin-left: 5px;
                font-size: 14px;
            }
        }

    }

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 0px;
        height: 2px;
        background-color: $yellow;
        transition: all 0.5s ease;
    }

    &:hover {
        transition: all 0.5s ease;
        transform: translateY(-3px);
        box-shadow: 0 10px 15px rgba($yellow, 0.05);
        &:after {
            transition: all 0.5s ease;
            width: 95%;
        }
    }
}

@media only screen and (max-width: 767px) {
    .project {
        flex-basis: 100%;
        flex: 1;
    }
}