@import './../../styles/color.scss';

#self-image {
    border-radius: 50px;
    max-height: 350px;
    object-fit: cover;
}
.skill-wrapper {
    margin-top: 20px;
    max-width: 500px;
}
.skill {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    .skill-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 7px;
    }

    .progress-bar {
        display: flex;
        flex: 1;
        height: 5px;
        border-radius: 3px;
        background-color: $primary-hover;

        .progress {  
            border-radius: 3px;
            background-color: $yellow;
            height: 5px;
        }
    }
}