@import './../../styles/color.scss';

.experience {
    border-right: 1px solid $yellow;
  }
  
.work-wrapper {
display: flex;
&:last-of-type .work{
    margin-bottom: 0px;
}
    i {
        color: $yellow;
    }
    .timeline {
        position: relative;
        top: 10px;
    }
    .duration {
        margin-right: 10px;
        min-width: 80px;
        max-width: 80px;
    
    }
.vertical-line {
    width: 1px;
    height: auto;
    background-color: $yellow;
    display: flex;
    align-self: stretch;
    
    position: relative;
    left: -10px;
}
  .work {
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;

      
      h3 {
          margin: 0px;
      }
      em {
          margin-bottom: 5px;
      }
  }
}

.btn {
    margin: 15px 0px;
    padding: 10px;
    max-width: 250px;
    border: 2px solid $yellow;
    background-color: $yellow;
    border-radius: 6px;

    span, i {
        color: $dark-grey;
    }
    
    &:hover {
      background-color: $primary-hover;
      transition: 0.5s ease;

      span, i {
        color: $secondary-color;
      }
    }
  
    .fa {
      margin-right: 10px;
    }
  }

.info {
    h2 {
        margin: 0px 0px 15px 0px;
    }
}

@media only screen and (max-width: 767px) {
  .wrapper {
      flex-direction: column;
  }
  .experience {
      border: none;
      order: 2;
  }
}